@import "./hero";

#home-section-1 {
  height: 100vh;
  display: flex;
  position: relative;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: $secondary-font;
    font-size: 5rem;
    margin-bottom: 25%;
    margin-left: 2rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  svg {
    @include absoluteCenter();
    left: 40%;
  }
  .shifting-link {
    color: orangered;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

.scroll-text-char {
  opacity: 0.1;
  transition: 0.3s ease-in;
}

#home-section-2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: 12rem;
    white-space: nowrap;
    color: rgb(214, 214, 214);
  }
  .highlight {
    color: black;
  }
  span:nth-child(1) {
    transform: translateX(-80%);
  }
  span:nth-child(2) {
    transform: translateX(-100%);
  }
  span:nth-child(3) {
    transform: translateX(-50%);
  }
}

#home-section-3 {
  height: 100vh;
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
}

@keyframes scroll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 1rem));
  }
}

@keyframes scroll-down {
  from {
    transform: translateY(calc(-100% + var(--offset)));
  }
  to {
    transform: translateY(calc(-50% + var(--offset) + 1rem));
  }
}

.scrolling-gallery.left {
  animation: scroll-up 60s linear infinite;
}

.scrolling-gallery.right {
  margin-right: 2rem;
  animation: scroll-down 50s linear infinite;
}

.scrolling-gallery {
  height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-image {
  @include imageFormat();
  height: 30rem;
  &:hover {
    cursor: pointer;
  }
}

#section-3-header {
  margin-left: 2rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  perspective: 600px;
  h2 {
    transform: rotate3d(1, 0, 0, -30deg) translateY(5rem);
    color: black;
    opacity: 0;
    span:nth-child(1) {
      font-family: $secondary-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
    span:nth-child(3) {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .shifting-link {
    color: orangered;
    font-size: 1rem;
    opacity: 0;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

#home-section-4 {
  height: 100vh;
  margin-top: 12rem;
  position: relative;
  video {
    @include imageFormat();
  }
  &::after {
    @include pseudoFormatTL();
    background: linear-gradient(to top, black, transparent 50%);
  }
  h2 {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 5rem;
    mix-blend-mode: difference;
    color: white;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}

#home-section-5 {
  height: 100vh;
  background-color: black;
}
