@import "./hero";

#home-section-1 {
  height: 100vh;
  display: flex;
  position: relative;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: $secondary-font;
    font-size: 5rem;
    margin-bottom: 25%;
    margin-left: 2rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  svg {
    @include absoluteCenter();
    left: 40%;
  }
  .shifting-link {
    color: orangered;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

.scroll-text-char {
  opacity: 0.1;
  transition: 0.3s ease-in;
}

#home-section-2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: 12rem;
    white-space: nowrap;
    color: rgb(214, 214, 214);
  }
  .highlight {
    color: black;
  }
  span:nth-child(1) {
    transform: translateX(-80%);
  }
  span:nth-child(2) {
    transform: translateX(-100%);
  }
  span:nth-child(3) {
    transform: translateX(-50%);
  }
}

#home-section-3 {
  height: 100vh;
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
}

@keyframes scroll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 1rem));
  }
}

@keyframes scroll-down {
  from {
    transform: translateY(calc(-100% + var(--offset)));
  }
  to {
    transform: translateY(calc(-50% + var(--offset) + 1rem));
  }
}

.scrolling-gallery.left {
  animation: scroll-up 60s linear infinite;
}

.scrolling-gallery.right {
  margin-right: 2rem;
  animation: scroll-down 50s linear infinite;
}

.scrolling-gallery {
  height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-image {
  @include imageFormat();
  height: 30rem;
  &:hover {
    cursor: pointer;
  }
}

#section-3-header {
  margin-left: 2rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  perspective: 600px;
  h2 {
    transform: rotate3d(1, 0, 0, -30deg) translateY(5rem);
    color: black;
    opacity: 0;
    span:nth-child(1) {
      font-family: $secondary-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
    span:nth-child(3) {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .shifting-link {
    color: orangered;
    font-size: 1rem;
    opacity: 0;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

#home-section-4 {
  height: 100vh;
  margin-top: 8rem;
  position: relative;
  video {
    @include imageFormat();
  }
  &::after {
    @include pseudoFormatTL();
    background: linear-gradient(to top, black, transparent 50%);
  }
  h2 {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 5rem;
    mix-blend-mode: difference;
    color: white;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}

#home-section-5 {
  height: 100vh;
  color: white;
  background-color: black;
  @include flexCenter();
}

#footer-wrapper {
  height: 90%;
  width: calc(100% - 4rem);
  border: 2px solid white;
  display: flex;
  position: relative;
}

.footer {
  height: 80%;
}

.footer.left {
  flex: 1;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  position: relative;
  h2,
  h3 {
    margin: 2rem;
  }
  h2 {
    font-family: $secondary-font;
    font-size: 3rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
  }
  .shifting-link {
    width: fit-content;
    font-size: 1.25rem;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

#footer-links {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer.right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  input:not([type="submit"]),
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
  textarea {
    resize: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#footer-marquee {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  border-top: 2px solid white;
  overflow: hidden;
  div {
    height: 100%;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: marquee 30s linear infinite;
  }
  span {
    font-size: 4rem;
    font-weight: 600;
  }
}

.form-small {
  flex: 1;
}

.form-large {
  flex: 2;
  padding-top: 1.5rem;
}

#submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    position: relative;
    margin-right: 2rem;
  }
  div::before {
    @include pseudoFormatTL($height: 1px, $top: 100%);
    background-color: white;
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.04, 0.67, 0.27, 0.9);
  }
  div:hover::before {
    transform: scale(1);
  }
  span {
    @include flexCenter();
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
}

.form-submit {
  background-color: transparent;
  font-size: 1.5rem;
  color: orangered;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
