nav {
  position: fixed;
  height: 120px;
  width: calc(100vw - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

#nav-logo {
  height: 80%;
  margin-left: 2rem;
  pointer-events: all;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

#menu-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  margin-right: 2rem;
  @include flexCenterColumn();
  pointer-events: all;
}

.hamburger {
  width: 40%;
  border-top: 3px solid black;
  opacity: 0.8;
  transition: 0.3s ease-out;
}

.hamburger.top {
  margin-bottom: 10%;
}

.hamburger.bot {
  margin-top: 10%;
}

#menu-button:hover > .hamburger {
  opacity: 1;
}

#menu-button:hover > .hamburger.top,
#menu-button:hover > .hamburger.bot {
  transform: scaleX(0.8);
}

#menu-button:hover > .hamburger.mid {
  transform: scaleX(1.2);
}
