nav {
  --offset: 1rem;
  position: fixed;
  height: 120px;
  width: calc(100vw - var(--offset));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  a {
    height: 80%;
    margin-left: $default-margin;
  }
}

#nav-logo {
  height: 100%;
  pointer-events: all;
  background: linear-gradient(to top, $primary-color, transparent);
  border: 1px solid $primary-color;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

#menu-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary-color;
  margin-right: $default-margin;
  @include flexCenterColumn();
  pointer-events: all;
}

.hamburger {
  width: 40%;
  border-top: 3px solid $secondary-color;
  opacity: 0.8;
  transition: 0.3s ease-out;
}

.hamburger.top {
  margin-bottom: 10%;
}

.hamburger.bot {
  margin-top: 10%;
}

#menu-button:hover > .hamburger {
  opacity: 1;
}

#menu-button:hover > .hamburger.top,
#menu-button:hover > .hamburger.bot {
  transform: scaleX(0.8);
}

#menu-button:hover > .hamburger.mid {
  transform: scaleX(1.2);
}

// ------------ Media Queries ------------
@media screen and (max-width: 450px) {
  nav a {
    margin-left: $mobile-margin;
  }

  #menu-button {
    margin-right: $mobile-margin;
  }
}
