@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lusitana:wght@400;700&display=swap");

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #864022;

$primary-font: "Inter", sans-serif;
$secondary-font: "Lusitana", serif;
