@import "./mixins";
@import "./variables";
@import "../nav";
@import "../home";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  overflow-x: hidden;
  background-color: black;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.shifting-link {
  color: white;
  @include flexCenter();
}

.shifting-link-chars {
  display: inline-block;
  overflow: hidden;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.link-char {
  display: inline-block;
  position: relative;
  transition: 0.3s ease-out var(--stagger-reverse);
  &::before {
    @include pseudoFormatTL($top: 100%);
    content: var(--content);
  }
}

.hover > .link-char {
  transition: 0.3s ease-out var(--stagger);
  transform: translateY(-100%);
}
